.message-bar {
  position: absolute;
  bottom: 0;
  display: block;
  color: green;
  background: cornsilk;
}

.move-to {
  width: 40px;
}

.form-group {
  margin-top: 10px;
}

.main {
  display: flex;
  flex-direction: column;
}
